@import '_base.scss';

/**
 * Variables
 */
$navbar-width: 960px;
$navbar-height: 60px;
$navbar-link-color: black;

@mixin sans-serif {
	font-family: Helvetica Neue, sans-serif;
}

body {
	color: #181818;
	@include sans-serif;
	padding-top: $navbar-height;
}

p {
	font-size: 1.3em;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 1px;
}

.nav-bar {
	@include box-shadow(1px 0px 15px #aaa);
	background-color:  white;
	background:        rgba(255, 255, 255, .85);
	position:          fixed;
	top:               0;
	left:              0;
	right:             0;
	position:          fixed;
	z-index:           1000;

	ul {
		width: $navbar-width;
		margin: 0 auto;

		li {
			@include border-box;
			height: $navbar-height;
			padding: 20px 20px;
			float: left;

			a {
				font-size: 18px;
				text-transform: uppercase;
				color: $navbar-link-color;
				@include sans-serif;
			}
		}
	}
}

table.board {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 30px;

	td {
		vertical-align: middle;
		text-align: center;
		font-size: 48px;
		border: 1px solid #888;

		&.highlighted {
			background-color: green;
		}
	}
}

@media only screen and (max-width: 767px) {
	table.board {
		height: 300px;
		width: 300px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	table.board {
		height: 420px;
		width: 420px;
	}
}
