doctype html
html(lang="en")
	head
		title= 'Tic Tac Toe'
		link(rel='stylesheet', href='/styles/main.css')
	body(ng-app='tictactoe')
		div.nav-bar.centered
			<h1>Tic Tac Toe</h1>
		div.container(ng-controller='GameCtrl')
			div.eight.columns.offset-by-four
				table.board
					tr(ng-repeat='y in []|range:board.length')
						td(
							ng-repeat='x in []|range:board.length',
							ng-click='play(currentPlayer, x, y)',
							ng-style='{ width: {{ 100 / board.length }} + "%", height: {{ 100 / board.length }} + "%" }'
						) {{ board.get(x,y) }}


	script(src="/bower_components/underscore/underscore.js")
	script(src="/bower_components/angular/angular.js")
	script(src="/scripts/app.js")
	script(src="/scripts/filters/range.js")
	script(src="/scripts/services/board.js")
	script(src="/scripts/controllers/game.js")
	script(src="/scripts/directives/board.js")
