doctype html
html(lang="en")
	head
		title= 'Tic Tac Toe'
		link(rel='stylesheet', href='/styles/main.css')
	body(ng-app='tictactoe')
		div.nav-bar.centered
			<h1>Tic Tac Toe</h1>
		div.container(ng-controller='GameCtrl')
			div.eight.columns.offset-by-four
				table.board
					tr(ng-repeat='y in [] | range:game.board.length')
						td(
							ng-repeat='x in [] | range:game.board.length',
							ng-click='play(game, x, y)',
							ng-style='{ width: {{ 100 / game.board.length }} + "%", height: {{ 100 / game.board.length }} + "%" }'
						) {{ game.board.get(x,y) }}
				div.game-over-msg.centered(ng-show='game.isOver')
					h3(ng-show='game.winner')
						| {{ game.winner }} won!
					h3(ng-show='!game.winner')
						| Draw!
					button(ng-click='restart(game)') New Game

	script(src="/bower_components/underscore/underscore.js")
	script(src="/bower_components/angular/angular.js")
	script(src="/scripts/app.js")
	script(src="/scripts/filters/range.js")
	script(src="/scripts/services/board.js")
	script(src="/scripts/services/winChecker.js")
	script(src="/scripts/controllers/game.js")
