doctype html
html(lang="en")
	head
		title= 'Tic Tac Toe'
		link(rel='stylesheet', href='/styles/main.css')
	body
		div.nav-bar.centered
			<h1>Tic Tac Toe</h1>
	script(src="/bower_components/angular/angular.js")
